* {
    text-transform: capitalize;
    font-size: 14px;
    margin: 0;
    font-weight: lighter;
    font-family: inter_semi_bold, fallback-inter_semi_bold, Arial, sans-serif;
}


body {
    background-color: #eeeeee;
    padding: 0px 10px;
    overflow-x: hidden;
}

.sepreter {
    width: 100vw;
    height: 20px;
    background-color: #eeeeee;
}

/* heder start */

.heder {
    display: grid;
    background-color: #fff;
    width: 100vw;
    z-index: 10;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    grid-template-columns: 18vw 35vw 10vw 10vw 15vw auto;
    gap: 5px;
    padding: 10px 0px;
}

.sec0 {
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
}

.logo {
    margin-right: 0px;
}

input {
    padding: 8px 10px 8px 30px;
    border-radius: 5px;
    position: absolute;
    background-color: #f0f5ff;
    width: 31vw;
    /* border: 0px solid white; */
    /* font-size: 12px; */
    border-style: none;
}

.search {
    z-index: 2;
    padding-left: 10px;
    color: rgb(124, 124, 124);
}

.user {
    /* margin-left: 20px; */
    padding-left: 1px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.cart {
    /* margin-left: 20px; */
    padding-left: 20px;
    display: flex;
    gap: 10px;
    justify-content: end;
}

.shop {
    padding-left: 20px;
    gap: 7px;
    display: flex;
    justify-content: end;

}

.dot {
    display: flex;
    justify-content: center;
}

/* star img section */

.sec1 {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    margin-top: 47px;
    padding: 20px 8px;
    /* margin: 10px;
    margin-bottom: 20px; */
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.sec1-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 230px;
    row-gap: 5px;
}

.sec1 img {
    height: 60px;
}

/* hero section */
.hero {
    /* width: 96vw; */
    margin: auto;
    height: 39vh;
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/5600/570/image/f871c3dec2984ff3.jpeg?q=20);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.arow1 {
    border-radius: 0px 4px 4px 0px;
    width: 10px;
    padding: 36px 16px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;align-items: center;
}

.arow2 {
    border-radius: 4px 0px 0px 4px;
    width: 10px;
    padding: 36px 16px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;align-items: center;
}


/* product section  */

.papa {
    background-color: #eeeeee;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 6fr 1fr;
    column-gap: 15px;
}

.beta {
    background-color: #ffffff;
    padding: 20px 0px 0px 20px;
    overflow: hidden;
}

.qq {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.gg {
    background-color: rgb(255, 255, 255);
    grid-column-start: 1;
    display: inline;
    grid-column-end: span 2;
    font-size: 18px;

    font-weight: 600;
}

.rr {
    display: flex;
    gap: 10px;
    position: relative;
    right: 0;
}

.img-section {

    padding: 18px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(121, 121, 121);
    border-radius: 3px;
    align-items: center;
    padding: 20px;
    margin: 20px 0px;
}

.aarow {
    border-radius: 4px 0px 0px 4px;
    width: 10px;
    padding: 36px 16px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 80px;
}

.beta2 {
    background-color: rgb(255, 255, 255);
}

.beta2 img {
    height: 340px;
    overflow: hidden;

}

.name {
    font-weight: 200;
    color: rgb(73, 73, 73);
    padding-bottom: 5px;
}

.price {
    font-weight: 700;
}



.arow {
    border-radius: 4px 0px 0px 4px;
    width: 10px;
    padding: 36px 16px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 0;
    cursor: pointer;
}

/*
.sec-2 {
    
width: 96vw;
margin: auto; 
display: grid;
grid-template-columns: 7fr 1fr;
grid-template-rows: 50px 1fr;
position: relative;
    background-color: #eeeeee;
    column-gap: 20px;
    
    } */

/* .product-hedline {
        background-color: rgb(255, 255, 255);
        font-size: 18px;
        display: flex;
        
        font-weight: 600;
        padding: 20px 0px 10px 15px;
        } */

/* .product-section {
            overflow: hidden;
            display: flex;
            align-items: center;
            position: relative;
            gap: 10px;
            padding-bottom: 25px;
            background-color: rgb(255, 255, 255);
            padding-left: 15px;
            } */

/* .img-section {
                padding: 18px;
                display: inline-flex;
                flex-direction: column;
                border: 1px solid rgb(121, 121, 121);
                border-radius: 2px;
                align-items: center;
                } */

.img-section>img {
    height: 150px;
    padding-bottom: 18px;
}

.img-section>img:hover {
    transform: scale(1.1);
    cursor: pointer;
    /* transition: all ease 0.1s; */
}


/* .side-img-in-product-section {
                    padding: 10px 0px;
                    display: grid;
                    grid-column: 2/span 1;
                    background-color: rgb(255, 255, 255)
                    } */


/* sec3 start */

a {
    text-decoration: none;
}

.sec-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff;
    padding: 0px 7px;
}

.sec-3 img {
    width: 31vw;
}

.sec-3-only-img {
    padding-right: 8px;
}

/* sec-4 only pruduct section */
.product-heading-section {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    justify-content: space-between;
    padding: 20px 15px 0px 15px;
}

.sec-4-product-hedline {
    font-size: 18px;
    font-weight: 600;
}

.sec-4 {
    overflow: hidden;
    display: grid;
    /* width: 96vw; */
    grid-template-columns: 1fr;
    background-color: #eeeeee;
}

.sec-4-product-section {
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    padding: 0px 0px 10px 15px;
}

/* only poster */

.second-poster {
    height: 42vh;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/5600/2370/image/ab9ccf8a8ad6a05f.jpg?q=20);


}

/* sec 5 are start */

.sec-5 {
    display: grid;
    gap: 18px;
    grid-template-columns: 3fr 6fr;
    grid-template-rows: auto;
}

.sec-5-inner {
    background-color: #ffffff;
    /* height: 114vh; */
}

.kk {
    padding-left: 10px;
}

.kk2 {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
    justify-items: start;
}

.secc {
    border: 1px solid rgb(78, 78, 78);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
}

.secc img:hover {
    transform: scale(1.1);
}

.secc img {
    padding-bottom: 10px;
    width: 130px;
}

.sec-5-price {
    color: rgb(0, 152, 0);
    font-weight: 700;

}

/* footer section */
footer {
    position: relative;
    top: 0;
    left: -20px;
    /* margin: 0; */
    width: 100vw;
    height: 640%;
    padding-top: 40px;
    background-color: #212121;
    color: white;

}

.footer {
    background-color: #212121;
    box-shadow: 0px 1px 0px gray;
    padding-bottom: 30px;
    width: 100vw;
    margin: auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-sec1 {
    /* border: 5px solid rgb(240, 240, 240); */
    box-shadow: 1px 0px 0px rgb(75, 75, 75);
    display: flex;
    gap: 10px;

    padding-right: 30px;
    justify-content: space-between;
    margin-left: 40px;
    align-items: baseline;
}

.iner-sec1 {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.title {
    color: rgb(132, 132, 132);
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 12px;
}

.link-in-footer {
    padding: 3px 0px;
    font-weight: 700;
    font-size: 10px;
}

.link-in-footer:hover {

    text-decoration: underline;
    cursor: pointer;
}

.not:hover {
    text-decoration: none;
    cursor: auto;


}

.num {
    color: blue;
    font-size: 10px;
}

.footer-sec2 {
    gap: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 165px 24px;
}

.social {
    display: flex;
    gap: 20px;
}

.social-icon {
    padding-top: 15px;
    position: relative;
    top: -40px;


}

.icon {
    cursor: pointer;
}


/* responsive strat */

@media only screen and (max-width: 970px) {
    * {
        font-size: 11px;
    }

    .hero {
        height: 15vw;
    }

    .heder {
        grid-template-columns: 20vw auto 10vw 5vw 5vw 5vw;
    }

    input {
        width: 48vw;
    }

    .cart,
    .shop {
        span {
            display: none;
        }
    }

    .logo {
        img {
            width: 130px;
        }
    }

    .arow1,
    .arow2,
    .arow {
        padding: 20px 5px;
    }

    .sepreter {
        height: 10px;
    }

    .img-section>img {
        height: 100px;
    }

    .papa {
        margin-bottom: 15px;
    }

    .link-in-footer,
    .title,
    .num {

        font-size: 7px;
    }
}

@media only screen and (max-width: 700px) {
    * {
        font-size: 9px;
    }

    .hero {
        height: 15vw;
    }

    .logo {
        img {
            width: 95px;
        }
    }

    .sec1 img {
        height: 45px;
    }

    .sepreter {
        height: 7px;
    }

    .papa {

        grid-template-columns: 1fr;
    }

    .beta2 {
        display: none;
    }

    .secc img {
        width: 100px;
    }
}

@media only screen and (max-width: 500px) {
    * {
        font-size: 8px;
    }

    .hero {
        height: 15vw;
    }

    .sec1 img {
        height: 35px;
    }

    .sec1 {
        padding: 10px 8px;
    }

    .logo {
        img {
            width: 78px;
        }
    }

    .img-section>img {
        height: 72px;
    }

    .secc img {
        width: 72px;
    }

    .kk2 {
        width: 91vw;
        justify-items: stretch;
    }

    .secc {
        align-items: center;

    }

    .sec-5-inner.inr2 {
        display: none;
    }

    .second-poster {
        height: 22vh;
    }

    .footer {
        grid-template-columns: 1fr;
        padding-bottom: 0;
    }

    .footer-sec1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 20px;
    }

    .footer-sec2 {
        padding-top: 20px;
    }

    .arow1,
    .arow2,
    .arow {
        padding: 14px 2px;
    }

    .sec-4-product-hedline {
        font-size: 13px;
    }

    .sec-3 img {
        width: 30vw;
    }


}

@media only screen and (max-width: 400px) {
    * {
        font-size: 7px;
    }

    .sec1 img {
        height: 30px;
    }

    .arow1,
    .arow2,
    .arow {
        padding: 11px 2px;
    }

    .sec-4-product-hedline {
        font-size: 11px;
    }

    .img-section {
        padding: 10px
    }

    .img-section>img {
        height: 64px;
    }

    .sec-3 img {
        width: 28vw;
    }
    .kk2 {
        width: 87vw;
    }

    .heder {
        position: absolute;
        grid-template-columns: auto 20vw 5vw 5vw 10vw;
        grid-template-rows: 1fr 1fr;
    }
    input,.serch{
        margin: auto;
        width: 96vw;
        display: grid;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: span 5;
        margin-left: 5px;
        justify-items: start;
    }
}